<!DOCTYPE html>
<html lang = "en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About Section</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bullet Points Example</title>
<link rel="stylesheet" href="styles.css"> <!-- Link to the CSS file -->
</head>
<body>
	<section>
<h2 class="heading"> Key Features of ContactSync</h2>

<ul>
	
    <li><b>Personalized Contact Management: </b> Our platform provides a personalized space for users to store and manage their contacts efficiently.</li>
    <li><b>Secure Signup Process: </b>Users can sign up securely, ensuring their data is protected, and gain access to features like contact storage and retrieval.</li>
    <li><b>Comprehensive Contact Storage: </b>Store not only contact names and numbers but also additional details like addresses, emails, and notes for each contact entry.</li>
    <li><b>User-Friendly Interface: </b>Our website offers an intuitive interface, making it easy for users to navigate, add, edit, and delete contacts with ease.</li>
    <li><b>Accessible Anytime, Anywhere:</b> Access your contacts from any device with internet connectivity, ensuring you always have your important contacts at your fingertips.</li>
</ul>
</section>
</body>
</html>