<!DOCTYPE html>
<html lang = "en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>ContactSync</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div>
			<h1>ContactSync</h1>	
			
			<p>Discover the convenience of our Contact Manager, streamlining your contact management needs with ease and efficiency.</p>
			
			<a th:href="@{/signup}" class="btn back-primary text-white btn-lg">Let's Get Started</a>
			

			
		</div>
	</section>
</body>
</html>